[Unit]
Description=Capstone Express App
After=network.target docker.service
Wants=docker.service

[Service]
Type=simple
User=svc-capstone
Group=svc-capstone
WorkingDirectory=/opt/capstone-app
EnvironmentFile=/opt/capstone-app/.env
ExecStart=/usr//local/bin/node /opt/capstone-app/server.js
Restart=on-failure
RestartSec=3

# Logs go to journald automatically
StandardOutput=journal
StandardError=journal
SyslogIdentifier=capstone-app

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/opt/capstone-app

[Install]
WantedBy=multi-user.target
