[Unit]
Description=Capstone App Backup Service
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=/opt/scripts/backup.sh
User=root
